@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Search";
    if (ViewBag.ProductId != null)
    {
        Layout = "~/views/Shared/_ProductsLayout.cshtml";
    }
}

<h1>Search Products</h1>
<p>search details here</p>


